@layer theme, base, mantine, components, utilities;
@import "tailwindcss";
@import "@mantine/core/styles.layer.css";
@import "@mantine/notifications/styles.layer.css";

:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--mantine-color-mint-0);
  --mantine-color-placeholder: var(--mantine-color-cream-6);
  --mantine-color-dimmed: var(--mantine-color-cream-6);
  --mantine-color-default-border: var(--mantine-color-cream-4);
  --mantine-color-default-hover: var(--mantine-color-cream-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora);
}

.trip-stepper {
  --stepper-outline-color: var(--mantine-color-cream-5);
}

.trip-stepper .trip-stepper-icon:not([data-completed]):not([data-progress]) {
  background-color: var(--mantine-color-cream-3);
}

.mantine-Input-input[data-variant="default"] {
  border-color: var(--mantine-color-cream-6);
}

.mantine-Input-input[data-variant="default"]:focus {
  border-color: var(--mantine-primary-color-filled);
}
